{
    "port": 0,
    "sslKeyFile": "",
    "sslCertFile": "",
    "sslCaFile": "",
    "submitPassword": "",
    "dbHost": "",
    "db": "",
    "dbUser": "",
    "dbPassword": "",
    "openExchangeRatesAppId": ""
}
