[Unit]
Description=Danny's Gas App (Node.js)
After=mongod.service

[Service]
Type=simple
User=danny
WorkingDirectory=<dir>
ExecStart=/usr/bin/node <dir>
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
