[Unit]
Description=Danny's Gas App (Node.js)
After=mongod.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/www/gas
ExecStart=/usr/bin/node /opt/www/gas/app.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
